@media screen and (max-width: 510px) {
  .container-start {
    width: 80%;
    height: 80%;
    margin: 10%;
    grid-template-rows: 10% 25% 70%;
  }
  .title h1 {
    font-size: 100%;
    padding: 10%;
  }

  .description p {
    font-size: 77%;
    padding: 10%;
    line-height: 21.5px;
  }
  .input-group {
    width: 95%;
  }

  .input[type="text"],
  input[type="email"],
  .answer-group {
    height: 25px;
    font-size: 12px;
  }

  .btn-start {
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
  }
  .error-name,
  .error-mail {
    font-size: 10px;
  }
  .container-questions {
    grid-template-rows: 24% 76%;
    height: 85%;
    width: 80%;
    margin: 10%;
    padding-top: 4%;
  }
  .question-label {
    margin: 4%;
    font-size: 80%;
    width: 100%;
  }

  .reponses {
    box-sizing: border-box;
    width: 100%;
    padding: 4%;
  }
  .answer-group {
    width: 84%;
  }

  .count {
    width: 100%;
  }
  .timer {
    height: 10px;
    width: 100%;
    border-radius: 10px;
  }
  .btn-quit,
  .btn-next {
    width: 25%;
    height: 20%;
    padding: 1%;
    font-size: 12px;
  }

  .container-result {
    width: 80%;
    height: 80%;
    margin: 10%;
  }
  .player-name {
    margin: 8%;
    font-size: 24px;
  }
  .player-mail {
    font-size: 100%;
  }
  i {
    font-size: 6em;
  }
  .btn-home {
    height: 50%;
    width: 60%;
  }
  .result {
    padding: 19%;
  }
}
